@import "../../../assets/responsive";
@import "../../../assets/breakpoints";

.bannerContainer {
    top: 70px;
    z-index: 1;

    @include responsive("extra-small") {
        display: none;
    }
}

.bannerItem {
    width: 100vw;
    max-height: 700px;
}

.bannerImg {
    width: 100%;
    height: 100%;
    display: block;
}