$slickBtnHover: rgb(0, 175, 64);

.slick-dots {
    position: absolute;
    bottom: 5% !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li button {
        &::before {
            font-size: 20px !important;
            color: #afafaf !important;
            opacity: 0.8 !important;
            transition: all .3s !important;
        }

        &:hover::before {
            color: white !important;
        }
    }

    li.slick-active button {
        &::before {
            color: $slickBtnHover !important;
        }
    }
}

.slick-prev,
.slick-next {
    z-index: 2;

    &::before {
        font-size: 55px !important;
        line-height: 0 !important;
        transition: all .3s !important;
    }

    &:hover::before {
        color: $slickBtnHover !important;
    }
}

.slick-prev {
    left: 20px !important;
}

.slick-next {
    right: 55px !important;
}