.poster {
    width: 150px;
    height: auto;
}

.filmInfo {
    margin-top: 50px;
    margin-left: 80px;
    text-align: center;
}

.phim {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 550;
}