.background {
    background-image: url("../../../public/img/auth-background.jpg");
    min-height: calc(100vh - 70px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 70px;
    z-index: 1;
}