@import "../../assets/responsive";
@import "../../assets/breakpoints";

$color-1: #0354a5;
$borRad: 10px;

.box {
    max-width: 1000px !important;
    margin: 40px;
    padding: 10px;
    background-color: white;
    border-radius: $borRad;
}

.grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include responsive("medium") {
        grid-template-columns: 1fr;
    }
}

.column {
    border: 1px solid rgba(128, 128, 128, 0.304);
    border-radius: $borRad;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;
    width: 100% !important;

    p {
        margin: 0;
        padding: 0;
        font-weight: 700;
    }
}

.leftDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: 150px;
}

.movieTitle {
    font-size: 20px;
    font-weight: 700;
    color: $color-1;
    line-height: 22px;
    margin-bottom: 8px;
    letter-spacing: -0.00833em;

    @include responsive("extra-small") {
        font-size: 19px;
    }
}

.cinemaName {
    font-size: 19px;
    font-weight: 700;

    @include responsive("extra-small") {
        font-size: 17px;
    }
}