.react-pagination li {
  display: inline !important;
  margin: 5px;
}

.react-pagination .selected {
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px;
}

.react-pagination {
  padding-left: 1000px !important;
  padding-bottom: 15px;
}